<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<array>
        <string>Maharashtra</string>
        <string>Gujarat</string>
        <string>Rajasthan</string>
        <string>Madhya Pradesh</string>
        <string>Karnataka</string>
        <string>Odisha</string>
        <string>Tamil Nadu</string>
        <string>Telangana</string>
        <string>West Bengal</string>
        <string>Assam</string>
	</array>
</dict>
</plist>
